-- =====================================================
-- ­ƒÑæ TUS AGUACATES - Inserci├│n de Productos
-- Generado autom├íticamente desde productos tus_aguacates.json
-- =====================================================

-- Limpiar tabla existente
DELETE FROM productos_tienda;

-- === Aguacates ===
INSERT INTO productos_tienda (name, description, price, category_name, is_active) VALUES ('Caja de 24 unidades hass mediano', '24 aguacates Hass mediano en tres estados de maduraci├│n para consumo durante toda la semana.', 16600, 'Aguacates', true);
INSERT INTO productos_tienda (name, description, price, category_name, is_active) VALUES ('Caja de 12 unidades Premium', 'Caja de aguacates Hass Premium pinto y maduro en tres estados de maduraci├│n.', 24700, 'Aguacates', true);
INSERT INTO productos_tienda (name, description, price, category_name, is_active) VALUES ('Caja de 7 unidades injerto', '7 unidades de aguacate variedad injerto en tres estados de maduraci├│n.', 24000, 'Aguacates', true);

-- === PRODUCTOS NUEVOS ===

-- === Navidad ===

-- === Arom├íticas ===

-- === Frutos Rojos ===

-- === Tropicales ===

-- === Desgranados ===

-- === Gourmet ===

-- === Saludables ===

-- === Especias ===

-- =====================================================
-- Total productos insertados: 345
-- =====================================================

-- Verificar
SELECT COUNT(*) as total FROM productos_tienda;
SELECT category_name, COUNT(*) as cantidad FROM productos_tienda GROUP BY category_name ORDER BY cantidad DESC;
